body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B0B0B0;
    text-align: center;
}
header {
    background: #150734;
    color: white;
    padding: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cv {
    background: #28559A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.cv h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.cv ul {
    list-style-type: none;
    padding-left: 0;
}

.cv li {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cv li strong {
    color: #007BFF;
    font-size: 18px;
}

.cv ul ul {
    padding-left: 20px;
}

.cv ul ul li {
    background: none;
    box-shadow: none;
    font-size: 16px;
    color: #555;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.about-me{
    font-size: 20px;
    background: #0F2557;
    color: #f4f4f4;
    padding: 20px;
}
.portfolio{
    font-size: 20px;
    background: #3778C2;
    color: #f4f4f4;
    padding: 20px;
}